.arrow {
	height: 30px;
	width: 30px;
}
#discontainer {
	width:600px;
	display: flex;
	justify-content: space-between;
}
body{
	background-image: url("img/UI/concertbackground.jpg");
}
#div2 {
	border: 2px solid black;
	width: 600px;
	height: 54px;
	padding: 10px;
	background: grey;
	opacity: 80%;
	margin: 50px 0;
	border-radius: 25px;
	display:flex;
	justify-content: center;
	align-items: flex-end;
}
#displayArrow{
	height: 30px;
}
#combo{
	background-color:#c1e3ff;
	opacity: 70%;
	border-radius: 25px;
	border: none;
	width: 100px;
	display: flex;
  justify-content: center;
  align-items: center;
}
#level{
	background-color:#c1e3ff;
	opacity: 70%;
	border-radius: 25px;
	border: 1px solid black;
	width: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#score{
	background-color:#c1e3ff;
	opacity: 70%;
	border-radius: 25px;
	border: 1px solid black;
	width: 100px;
	margin: 0 0 0 -60px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#pacer{
	border: 1px solid black;
	margin: 25px 0 0 0;
	width: 300px;
 	height: 13px;
  background: #bfb7b7;
  opacity: 80%;
	border-radius: 25px;
	line-height: 0;
}
#pacer2{
	height: 11px;
	width: 50px;
	margin: 0px 0px 0px 195px;
	padding: 0px;
}
#shiny{
	position: relative;
	font-size:10px;
	height:13px;
}
.scoreBoard{
	border-radius: 10px;
  padding: 10px 30px;
  border: 1px solid black;
  background-color: #fdfdfda6;
	display:flex;
	justify-content: center;
	align-items: center;


}
.container {
	height: 700px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.hide{
	display:none;
	height: 30px;
}
#zhongjian{
	height: 70px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
}
/*moving eleemnts*/
#imgGuide{
	width:100%;
}

#animate123 {
  width: 5px;
  height: 11px;
  position: absolute;
  background-color: red;
}